.slider-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300vw; 
  }
  
  .slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .img-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }


  .img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 2s ease-in-out;
    }
    .img:hover {
        transform: scale(1.5);
    }
    .info-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
  }
 
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  }
  
  .arrow.left {
    left: 20px;
  }
  
  .arrow.right {
    right: 20px;
  }
  
  .arrow .icon {
    color: white;
    font-size: 24px;
    
  }
  .button {
    background-color: black; 
    color: white;
    padding: 12px;
    border:1px solid black !important;
    border-radius: 100px !important;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -80%;
    left: 50%;
    transform: translateX(-50%);
    width: auto !important;

}

.button:hover {
    background-color: white;
    color: black;
}


  