@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .fade-in-up {
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
  }
  
  .fade-in-scale {
    opacity: 0;
    animation: fadeInScale 1.5s ease-out forwards;
  }
  
  /* Délais pour apparition progressive */
  .delay-1 { animation-delay: 0.4s; }
  .delay-2 { animation-delay: 0.6s; }
  .delay-3 { animation-delay: 0.8s; }
  .delay-4 { animation-delay: 1s; }
  .delay-5 { animation-delay: 1.2s; }
  .delay-6 { animation-delay: 1.5s; }
  

  .btn-custom {
    margin-top: 15px !important;
    width:auto;
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
    transition: background-color 0.3s ease, color 0.3s ease !important;
  }
  
  .btn-custom:hover {
    background-color:white !important;
    color: black !important;
  }
  
  .hover-underline {
    text-decoration: none !important;
    color: black !important;
    transition: text-decoration 0.3s ease !important;
  }
  
  .hover-underline:hover {
    text-decoration: underline black !important;
  }
  
  