/* Style général */
.contact-container {
    background-color: white;
    padding: 50px;
  }
  
  /* Sections Contact */
  .contact-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
    color:black;
  }
  
  .info-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black !important;
  }
  
  .icon {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  /* Contenu principal */
  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  /* Formulaire */
  .contact-form {
    margin: 20px auto;
    margin-top: 20px;
    width: 45%;
    background:  white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    width: 100%;
    height: 100px;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color:black;
    color:white;
    border: 1px solid black !important;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: white !important;
    color: black;
  }
  
  
  .contact-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
  }
  